body {
    margin: 0;
    font-family: sans-serif;
    background: black;
    color: white;
}

/* CANVAS */
#bg {
    position: fixed;
    z-index: -1;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    backdrop-filter: blur(10px);
}

/* HERO */
.hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.glow {
    font-size: 60px;
    color: orange;
    text-shadow: 0 0 40px orange;
}

/* MAP */
.map-section {
    text-align: center;
    padding: 100px;
}

.map {
    position: relative;
    width: 400px;
    height: 400px;
    margin: auto;
    border: 1px solid orange;
}

.point {
    width: 10px;
    height: 10px;
    background: orange;
    border-radius: 50%;
    position: absolute;
}

.abidjan { top: 60%; left: 40%; }
.lome { top: 50%; left: 50%; }

.line-map {
    position: absolute;
    width: 100px;
    height: 2px;
    background: orange;
    top: 55%;
    left: 42%;
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {opacity: 0.2;}
    50% {opacity: 1;}
    100% {opacity: 0.2;}
}

/* TRACKING */
.tracking {
    text-align: center;
    padding: 100px;
}

input {
    padding: 10px;
    width: 200px;
}

/* SERVICES */
.services {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 100px;
}

.box {
    padding: 30px;
    border: 1px solid orange;
    transition: 0.3s;
}

.box:hover {
    box-shadow: 0 0 20px orange;
}

/* CHAT */
.chat {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 250px;
    background: #111;
    border: 1px solid orange;
}

.chat-header {
    background: orange;
    padding: 10px;
}

.chat-body {
    height: 150px;
    overflow-y: auto;
    padding: 10px;
}

#chatInput {
    width: 100%;
    border: none;
    padding: 10px;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
}
